@media (max-width:375px) {
 body{
    display: grid;
    grid-template-areas: 'header'
                         'main'
                         'rede-social';
    background: url(../images/bg-mobile.svg) center center no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

.header{
    grid-area: header;
    width: 100%;
    height: 10.0rem;
    display: flex;
    align-items: flex-start;
}

.header img {
    width: 10.0rem;
    margin: 2.0rem;
}

.container{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height:100vh;
    width: 100%;
}

.container .banner {
    width: 100vw;
    height: 7.0rem;
}

.container img {
    width: 85vw;
text-align: center;
}

    .container .slogan{
    width: 100vw;
    text-align: center;
    }

    .container .slogan h1{
    font-size: 1.5rem;
    }

    .container .slogan p{
    font-size: 1.0rem;
}

    .container .slogan .btn{
    margin: 0 auto;
    margin-top: 2.0rem;
    width: 18.0rem;
    height: 3.0rem;
    font-size: 1.0rem;
    }

    .rede-social{
    grid-area: rede-social;
    display: flex;
    justify-content: center;
    width: 130%;
    height: 200px;
}

.rede-social div{

}

.rede-social a{
    width: 2.0rem;
    height: 2.0rem;
    margin: 10px;
    
}

.rede-social a i{
    font-size: 1.0rem;
    
    margin: 0 1.0rem;
}



} 